.todo__list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(75deg, rgba(65, 171, 185, 0.212), rgba(196, 116, 123, 0.329));
  z-index: 2;
  margin: 25px;
  padding: 10px;
  box-shadow: -15px 15px 10px rgba(0,0,0,0.3);
  border-radius: 10px;
  padding-bottom: 55px;
}

.todo__form{
  height: 45px;
  width: 85%;
  background: linear-gradient(35deg, rgba(145, 240, 253, 0.87), rgba(245, 173, 185, 0.74));
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 50px;
}

.todo__row{
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  margin: 8px;
  padding: 5px;
  border-radius: 10px;
  background: linear-gradient(35deg, rgba(235, 127, 145, 0.842), rgba(121, 220, 233, 0.87));
  box-shadow: -15px 15px 10px rgba(0,0,0,0.3);
  z-index: 3;
}

.todo__input{
  height: 21px;
  width: 80%;
  border-radius: 10px;
  border: none;
  padding: 5px;
  z-index: 3;
}

.edit__input{
  height: 21px;
  width: 85%;
  border: none;
  padding: 5px;
  border-radius: 10px;
  z-index: 3;
}

.todo__btns{
  border-radius: 35px;
  z-index: 3;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.todo__result{
  display: flex;
  align-items: flex-start;
  z-index: 3;
}

.group__buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  z-index: 3;
}

.completed{
  text-decoration: line-through;
  text-decoration-color: rgb(19, 226, 19);
  color: rgb(18, 122, 18);

}

.author{
  position: relative;
  bottom: -90px;
  height: 30px;
  margin: 20px;
  margin-bottom: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background: linear-gradient(35deg, rgba(48, 140, 182, 0.788), rgb(190, 109, 123));
  box-shadow: -15px 15px 10px rgba(0,0,0,0.3);
  z-index: 3;
  color: rgba(255, 255, 255, 0.856);
}


@media  screen and (max-width:321px) {
  .todo__row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 15px;
    font-size: 12px;
  }
  .todo__result{
    padding-bottom: 15px;
  }
  .edit__input{
    margin: 10px;
  }
  .todo__list{
    margin: 15px;
  }
  
}