body{
  min-height: 100vh;
}

.conteiner{
  min-height: 100vh;
  position: absolute;
  overflow: scroll;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(35deg, rgba(145, 240, 253, 0.87), rgb(245, 173, 185));
}

.cirle__1{
  height: 150px;
  width: 150px;
  background: linear-gradient(35deg, rgba(147, 145, 253, 0.712), rgb(190, 109, 123));
  position: absolute;
  top: 19px;
  left: 39px;
  border-radius: 50%;
}
.cirle__2{
  height: 180px;
  width: 180px;
  background: linear-gradient(35deg, rgba(145, 240, 253, 0.87), rgb(194, 62, 84));
  position: absolute;
  top: 19px;
  right: 59px;
  border-radius: 50%;
}
.cirle__3{
  height: 110px;
  width: 110px;
  background: linear-gradient(35deg, rgba(137, 207, 207, 0.671), rgba(233, 92, 116, 0.788));
  position: absolute;
  top: 139px;
  left: 100px;
  border-radius: 50%;
  z-index: 1;
}

.cirle__4{
  height: 620px;
  width: 620px;
  background: linear-gradient(35deg, rgba(107, 78, 223, 0.61), rgb(245, 173, 185));
  position: absolute;
  top: 100px;
  right: 230px;
  border-radius: 50%;
}

.title{
  margin: 15px;
  padding: 15px;
  z-index: 3;
  border-radius: 10px;
  box-shadow: -5px 15px 15px rgba(0,0,0,0.3);
}

.todo__form{
  height: 45px;
  width: 70%;
  background: linear-gradient(35deg, rgba(145, 240, 253, 0.87), rgba(245, 173, 185, 0.74));
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: -15px 15px 10px rgba(0,0,0,0.3);
  z-index: 3;
  margin-bottom: 50px;
}

.author{
  position: relative;
  bottom: -80px;
  height: 30px;
  margin: 20px;
  margin-bottom: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px ;
  /*  background: linear-gradient(35deg, rgba(48, 140, 182, 0.788), rgb(190, 109, 123));*/
  box-shadow: -15px 15px 10px rgba(0,0,0,0.3);
  z-index: 3;
  color: rgba(255, 255, 255, 0.856);
}


@media  screen and (max-width:321px) {
  .cirle__1{
    height: 15px;
    width: 15px;
    right: 40px;
  }
  .cirle__2{
    height: 45px;
    width: 45px;
    right: 40px;
  }
  .cirle__3{
    height: 65px;
    width: 65px;
    left: 60px;
  }
  .cirle__4{
    height: 95px;
    width: 95px;
    right: 40px;
  }
  
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

*/